.idea

# PHP
/MyBooks-Backend/node_modules
/MyBooks-Backend/public/hot
/MyBooks-Backend/public/storage
/MyBooks-Backend/storage/*.key
/MyBooks-Backend/vendor
/MyBooks-Backend/.env
/MyBooks-Backend/.env.backup
/MyBooks-Backend/.phpunit.result.cache
/MyBooks-Backend/Homestead.json
/MyBooks-Backend/Homestead.yaml
/MyBooks-Backend/npm-debug.log
/MyBooks-Backend/yarn-error.log

#Angular

/MyBooks-Front-electron/dist
/MyBooks-Front-electron/tmp
/MyBooks-Front-electron/out-tsc
/MyBooks-Front-electron/bazel-out
/MyBooks-Front-electron/node_modules
/MyBooks-Front-electron/chrome-profiler-events.json
/MyBooks-Front-electron/speed-measure-plugin.json
/MyBooks-Front-electron/.idea
/MyBooks-Front-electron/.project
/MyBooks-Front-electron/.classpath
/MyBooks-Front-electron/.c9/
/MyBooks-Front-electron/*.launch
/MyBooks-Front-electron/.settings/
/MyBooks-Front-electron/*.sublime-workspace
/MyBooks-Front-electron/.vscode/*
/MyBooks-Front-electron/!.vscode/settings.json
/MyBooks-Front-electron/!.vscode/tasks.json
/MyBooks-Front-electron/!.vscode/launch.json
/MyBooks-Front-electron/!.vscode/extensions.json
/MyBooks-Front-electron/.history/*
/MyBooks-Front-electron/.sass-cache
/MyBooks-Front-electron/connect.lock
/MyBooks-Front-electron/coverage
/MyBooks-Front-electron/libpeerconnection.log
/MyBooks-Front-electron/npm-debug.log
/MyBooks-Front-electron/yarn-error.log
/MyBooks-Front-electron/testem.log
/MyBooks-Front-electron/typings
/MyBooks-Front-electron/.DS_Store
/MyBooks-Front-electron/Thumbs.db
