# PHP
/MyBooks-Backend/node_modules
/MyBooks-Backend/public/hot
/MyBooks-Backend/public/storage
/MyBooks-Backend/storage/*.key
/MyBooks-Backend/vendor
/MyBooks-Backend/.env
/MyBooks-Backend/.env.backup
/MyBooks-Backend/.phpunit.result.cache
/MyBooks-Backend/Homestead.json
/MyBooks-Backend/Homestead.yaml
/MyBooks-Backend/npm-debug.log
/MyBooks-Backend/yarn-error.log
